<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo">

        <nav>Barra de búsqueda</nav>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <ul>
            <a href="#"><li>Ofertas</li></a>
            <a href="#"><li>Tiendas Oficiales</li></a>
            <a href="#"><li>Vender</li></a>
            <a href="#"><li>Ayuda</li></a>
        </ul>
        <ul>
            <a href="#"><li>Creá tu cuenta</li></a>
            <a href="#"><li>Ingresá</li></a>
            <a href="#"><li>Mis compras</li></a>
        </ul>
    </header>
    <main>
        <h1>Productos</h1>
        <Section>
            <h2>Basado en tu última visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p>$6.772</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" alt="mac">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smart">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </div>
        </Section>
        <Section>
            <h2>Ofertas</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p>$6.772</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" alt="mac">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smart">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </div>
        </Section>
    </main>
    <footer>
        <ul>
            <li>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </li>
            <li>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </li>
        </ul>
    </footer>
</body>
</html>