:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    width: 100%;
    height: 200px;
    background-color: var(--amarillo);
    position: fixed;
    top: 0;
    z-index: 10;
}

.banner {
    margin-bottom: 1px;
    margin-top: 12rem;
}

header nav ul {
    display: none;
}

.top-header {
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

header p {
    text-align: center;
    padding-bottom: 15px;
}

.logo-con-formulario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    padding: 10px;
}

.formulario {
    background-color: white;
    width: 45%;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}

.formulario input {
    border: none;
    width: 80%;
    font-size: 15px;
}

.formulario i {
    color: var(--gris-oscuro);
    font-size: 15px;
}

.formatoMenu1,
.formatoMenu2 {
    list-style: none;
}

.formatoMenu1 a,
.formatoMenu2 a {
    text-decoration: none;
    color: black;
}

.banner img {
    width: 100%;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
    font-size: 12px;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: var(--celeste);
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;

}

.titulares {
    color: var(--gris-oscuro);
    font-size: 24px;
    margin-left: 15px;
}

h1 {
    color: var(--gris-oscuro);
    margin-left: 15px;
    display: none;
}

main {
    max-width: 90vw;
    margin: auto;
}

main section div article i {
    display: block;
    color: var(--verde);
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    background-color: #FFF;
    margin: 15px;
    justify-content: center;
}

.producto img {
    width: 100%;
}

.articulo {
    padding: 5%;
    border-top: 1px;
    border-top: 1px solid var(--gris-claro);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.descuento {
    width: 70%;
    font-size: 16px;
    color: var(--verde);
}

.precio {
    width: 30%;
}

.precio,
.descripcion-articulo {
    font-size: 18px;
}

.descripcion-articulo {
    opacity: 0;
}


/* Footer */
footer {
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
}

.lista-footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-footer {
    font-size: 16px;
}

.copyright {
    margin-top: 20px;
}

.fa-credit-card,
.fa-gift,
.fa-user-shield {
    color: var(--azul);
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 100%;
}

/* media queries */

/** Dispositivo tablet **/
@media (min-width: 361px) {
    h1 {
        display: block;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        top: 8rem;
    }

    header p {
        text-align: center;
    }

    .burger-menu {
        display: none;
    }

    .formatoMenu1,
    .formatoMenu2 {
        display: flex;
    }

    .formatoMenu1 {
        width: 60%;
        justify-content: flex-start;
    }

    .formatoMenu2 {
        width: 40%;
        justify-content: flex-end;
    }

    .formatoMenu1 a,
    .formatoMenu2 a {
        padding: 10px;
        text-align: center;
    }

    .formatoMenu1 a {
        width: 25%;
    }
    .formatoMenu2 a {
        width: 33.3%;
    }

    .ultima-visita,
    .ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .titulares {
        width: 100%;
    }

    .productos {
        justify-content: space-between;
    }

    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        flex-wrap: wrap;
        width: 40%;
    }

    .articulo {
        display: flex;
        width: 70%;
    }

    .precio {
        width: 100%;
    }

    /* Footer */
    .lista-footer {
        max-width: 70%;
        margin: auto;
    }
}


/** desktop **/
@media (min-width: 769px) {
    header {
        display: flex;
    }
    header nav {
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;


    }
    .formatoMenu1 {
        width: 60%;
    }
    .formatoMenu2 {
        width: 40%;
    }


    .logo-con-formulario {
        flex-wrap: nowrap;
    }

    .logo,
    .formulario,
    header p {
        width: 33.3%;
        max-width: 25rem;
        padding-bottom: 0;
    }

    .ultima-visita,
    .ofertas {
        justify-content: space-between;
    }

    .producto {
        box-shadow: none;
        width: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all .5s;
    }

    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion-articulo {
        transition: all .5s;
    }

    .producto:hover .descripcion-articulo {
        opacity: 1;
    }

    .articulo {
        width: 100%;
        padding-top: 28px;
    }

    .precio {
        width: 50%;
    }

    .descuento {
        width: 50%;
    }

    .fa-truck:hover {
        transition: .5s;
    }

    .fa-truck:hover {
        transform: rotate(-90deg);
    }

    /* Footer */
    .lista-footer {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .lista-footer__item {
        margin-top: 40px;
        width: 33.3%;
    }

    .lista-footer__item p {
        width: 80%;
        margin: auto;
        margin-top: 5px;
    }

    #icono-footer {
        transition: all .5s;
    }

    #icono-footer:hover {
        color: var(--amarillo);
    }

    .copyright {
        width: 100%;
        margin-top: 40px;
    }
}


